{% extends 'BloggerBlogBundle::layout.html.twig' %}

{% block title %}Contact{% endblock %}

{% block body %}
    <header>
        <h1>Contact symblog</h1>
    </header>
    {% if app.session.flashbag.has('blogger-notice') %}
        {% for flashMessage in app.session.flashbag.get('blogger-notice') %}
            <div class="blogger-notice">
                {{ flashMessage }}
            </div>
        {% endfor %}
    {% endif %}

    <p>Want to contact symblog?</p>

    <form action="{{ path('BloggerBlogBundle_contact') }}" method="post" {{ form_enctype(form) }} class="blogger">
        {{ form_errors(form) }}

        {{ form_row(form.name) }}
        {{ form_row(form.email) }}
        {{ form_row(form.subject) }}
        {{ form_row(form.body) }}

        {{ form_rest(form) }}

        <input type="submit" value="Submit" />
    </form>
{% endblock %}